html,
body,
#main {
    height: 100%;
    width: 100%;
}

input {
    font-size: inherit;
    font-family: inherit;
}

main {
    margin: 3.75rem 0;
}

a {
    text-decoration: none;
    color: black;
    margin: 1% 2%;
}

body {
    margin: 0;
    background-color: #e0e0e0;
    font-family: Ubuntu, sans-serif;
}

.logo {
    height: 60px;
    width: 60px;
    margin-left: 1%;
}

.social-icons {
    height: 20px;
    width: 22px;
}

header,
footer {
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    z-index: 2;
    top: 0;
}

header > a[href="index.html"] {
    margin: 0;
}

footer {
    bottom: 0;
}

header > *,
footer > * {
    vertical-align: middle;
    display: inline-block;
}

.copyright {
    font-size: 10px;
    vertical-align: bottom;
}

.social-icons-container {
    margin-right: 2%;
}

.social-icons-container > a {
    margin: 0;
}

.cursive {
    font-family: cursive;
    text-transform: uppercase;
    font-weight: bold;
}
