html,
body,
#main {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    margin: 1rem;
}
body {
    margin: 0;
    background-color: #e0e0e0;
    font-family: Ubuntu, sans-serif;
}

.logo {
    height: 60px;
    width: 60px;
}

.social-icons {
    height: 20px;
    width: 22px;
}

header,
footer {
    background-color: rosybrown;
    position: sticky;
}

header {
    z-index: 2;
    top: 0;
}

header > a[href="index.html"] {
    margin: 0;
}

footer {
    bottom: 0;
}

header > a:last-of-type {
    vertical-align: middle;
    margin-left: 92%;
}

header > *,
footer > * {
    vertical-align: middle;
    display: inline-block;
}

.copyright,
footer > a:first-child {
    margin-right: 39%;
}
.copyright {
    font-size: 10px;
    vertical-align: bottom;
    margin-bottom: 0.5rem;
}

.social-icons-container > a {
    margin: 0;
}
