.city-image {
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
}
.city-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4% 0;
}

.city-cards > a {
    margin: 0;
}

.city-search {
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-position: center;
    background-position-y: 56%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-search > input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: inherit;
    border-radius: 12px;
    width: 28%;
    font-family: inherit;
    outline: none;
}

section > p {
    text-align: center;
    margin-bottom: 5%;
}

section {
    display: flex;
    flex-direction: column;
}

.overlay-container {
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 98%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 25%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay-container:hover > .overlay {
    opacity: 1;
}
