.hotel-images-container {
    max-height: 210px;
}

.hotel-images {
    height: 210px;
    width: 250px;
}

.hotel-details-container {
    margin-left: 5%;
}
#map-view {
    display: none;
}

.hotel-card {
    margin: 4% 8%;
    background-color: rgb(212, 210, 212);
    width: 80%;
    display: flex;
}

#list-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2%;
}

#list-view > a,
li > a {
    margin: 0;
}

ul {
    padding-left: 0;
    margin-top: 5.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul > li {
    list-style-type: none;
    font-weight: bold;
    margin: 0 2%;
}
