.hotel-images-container {
    max-height: 210px;
}

.hotel-images {
    height: 210px;
    width: 250px;
}

.hotel-details-container {
    margin-left: 5%;
}
.hotel-card {
    background-color: rgb(212, 210, 212);
    display: flex;
    align-items: center;
}

#list-view {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2%;
}

#list-view > a {
    margin: 2% 4%;
    flex-basis: 40%;
}

ul {
    padding-left: 0;
    margin-top: 5.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul > li {
    list-style-type: none;
    font-weight: bold;
    margin: 0 2%;
}

li > a {
    margin: 0;
}

.hotel-card:hover {
    background-color: rosybrown;
    color: black;
}
